.header {
  //position: sticky;
  //top: 0;
  //z-index: 99;

  display: flex;
  justify-content: center;

  margin-bottom: 40px;

  background-color: white;

  .logo {
    width: auto;
    max-height: 100px;
  }
}