.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 140px);

  .form {
    position: relative;
    width: 640px;
  }

  .inputWrapper {
    margin-bottom: 40px;
  }
}
